# Ignoră tot din folderul FORMULARE
FORMULARE/*

# Exceptă fișierul README.md din folderul FORMULARE
!FORMULARE/README.md

# Ignoră tot din folderul fisiere
fisiere/*

# Exceptă fișierul README.md din folderul fisiere
!fisiere/README.md

# Ignoră fișierele din .venv și .pycache
.venv/*
.pycache/*

# ignora folderul aplicatie si toate fisierele din el
aplicatie/*

output/*

# Ignoră toate directoarele __pycache__ și fișierele din acestea
__pycache__/
src/ocr/__pycache__/
src/ui/__pycache__/
src/processing/__pycache__/
src/utils/__pycache__/

.env
ai.py
debug_media/*

